.em,.em-svg{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle}
.em-hankey{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f4a9.png")}
.em-hankey.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f4a9.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f4a9.svg"),none}
.em-confounded{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f616.png")}
.em-confounded.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f616.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f616.svg"),none}
.em-angry{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f620.png")}
.em-angry.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f620.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f620.svg"),none}
.em-cry{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f622.png")}
.em-cry.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f622.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f622.svg"),none}
.em-grimacing{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f62c.png")}
.em-grimacing.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f62c.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f62c.svg"),none}
.em-expressionless{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f611.png")}
.em-expressionless.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f611.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f611.svg"),none}
.em-astonished{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f632.png")}
.em-astonished.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f632.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f632.svg"),none}
.em-anguished{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f627.png")}
.em-anguished.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f627.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f627.svg"),none}
.em-confused{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f615.png")}
.em-confused.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f615.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f615.svg"),none}
.em-grinning{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f600.png")}
.em-grinning.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f600.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f600.svg"),none}
.em-heart_eyes{background-image:url("https://twemoji.maxcdn.com/2/72x72/1f60d.png")}
.em-heart_eyes.em-svg{background:url("https://twemoji.maxcdn.com/2/72x72/1f60d.png");background-image:url("https://twemoji.maxcdn.com/2/svg/1f60d.svg"),none}
