h1, h2, h3, h4, h5 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #333;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

h2 {
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: left;
}

p.description {
	font-family: 'PT Serif', serif;
	font-size: 20px;
	line-height: 25px;
}

p.byline {
	font: normal 14px "Open Sans", sans-serif;
	width: 90%;
	margin: auto;
	text-align: center;
}

.center {
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
}

.ad {
	grid-column: 1 / 4;
	grid-row: 3;
	margin: 10px auto;
}

q {
  quotes: '"' '"' "'" "'";
}

q::before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

article {
	max-width: 1100px;
	margin: auto;
	float: none;
	text-align: center;
}

.grid-wrapper {
	max-width: 940px;
	margin: 0 auto;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

.intro-text {
	grid-column: 1 / 4;
	grid-row: 1;
	margin-top: 30px;
}

.main-image {
	grid-column: 1 / 4;
	grid-row: 2;
	margin-bottom: 45px;
}

#image-banner {
	position: relative;
	top: 15%;
	border: 50px solid #002D72;
	border-left: 0;
	border-right: 30px solid transparent;
	width: 300px;
	box-shadow: 0 8px 6px -6px black;
}

.meter-explainer {
	grid-column: 1 / 3;
	grid-row: 2;
	align-self: end;
	text-align: right;
	font: normal 17px 'Open Sans', sans-serif;
	color: #FC4C02;
}

.meter {
	grid-column: 3;
	grid-row: 2;
	align-self: end;
	background: #FC4C02;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#meter-number {
	font: bold 50px "Open Sans Condensed", sans-serif;
	color: #FFF;
}

.commentary {
	grid-column: 1 / 2;
	grid-row: 4;
/*	margin-top: 0px;
	margin-bottom: 0px;*/
	width: 460px;
	margin-top: 40px;
}

blockquote q {
	font: italic 28px/38px 'PT Serif', serif;
	display: block;
	text-align: left;
	quotes: initial;
}

blockquote span {
	text-align: right;
	display: block;
	font: normal 18px 'Open Sans', sans-serif;
	padding-right: 15px;
}

blockquote span:before {
	content: "\2014 ";
}

blockquote a {
	color: #000;
}

#injury-tracker {
	grid-column: 2 / 4;
	grid-row: 4;
	margin-top: 50px;
}

table {
		margin: auto;
		width: 450px;
}

thead {
		background-color: #002D72;
		text-transform: uppercase;
		border: 1px solid #808080;
		font-family: 'Open Sans', sans-serif;
		padding: 7px 0;
		vertical-align: middle;
		color: white;
}

td {
		height: 25px;
		vertical-align: middle;
}


tr:nth-child(even) {
		background-color: #dedede;
}

tr.inactive {
    background-color: #eee;
}
tr.inactive td {
    color: #aaa;
}

.fan-misery p {
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 19px;
	text-align: left;
	margin-bottom: 20px;
}

/* ===== RADIO BUTTONS ===== */

#radios {
	text-align: center;
	margin: 0 auto;
	display: flex;
}

#radios label {
	cursor: pointer;
	position: relative;
}

#radios label + label {
	margin-left: 15px;
}

input[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

input[type="radio"] + span {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	background-color: #002D72;
	color: #FFFFFF;
	border-radius: 50%;
	padding: 3px 8px;
}

input[type="radio"]:checked + span {
	color: #FFFFFF;
	background-color: #FC4C02;
}

input[type="radio"]:focus + span {
	color: #FFFFFF;
}

button {
	margin-top: 20px;
	font: bold 15px 'Open Sans Condensed', sans-serif;
}

/* ===== RADIO BUTTONS END ===== */

.recent-news ul {
	margin-left: 28px;
	margin-bottom: 20px;
	width: 450px;
	font: normal 14px 'Open Sans', sans-serif;
	line-height: 19px;
	text-align: left;
}

.fan-misery {
	grid-column: 1 / 2;
	grid-row: 5;
	margin-top: 30px;
}

.recent-news {
	grid-column: 2 / 4;
	grid-row: 5;
	margin-top: 30px;
}

#daily-chart {
	grid-column: 1 / 4;
	grid-row: 6;
	margin-top: 30px;
}

/*--------- RECENT MISERY ---------*/
.view-more-link:before {
    content: "» ";
}
.view-more-link {
    list-style-type: none;
    text-align: right;
}
.hide {
    display: none;
}
/*--------- FAN SLIDER ---------*/

.range-slider {
	text-align: left;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.range-slider__range {
	-webkit-appearance: none;
	width: calc(100% - (60px));
	height: 10px;
	background: #dedede;
	outline: none;
	padding: 0;
	margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
	padding-left: -10px;
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #002D72;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
	background: #FC4C02;
}
.range-slider__range:active::-webkit-slider-thumb {
	background: #FC4C02;
}
.range-slider__range::-moz-range-thumb {
	padding-left: -10px;
	width: 25px;
	height: 25px;
	border: 0;
	border-radius: 50%;
	background: #002D72;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
	background: #FC4C02;
}
.range-slider__range:active::-moz-range-thumb {
	background: #FC4C02;
}

.range-slider__value {
	display: inline-block;
	position: relative;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #FC4C02;
	padding: 5px 10px;
	margin-left: 15px;
}
.range-slider__value:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #FC4C02;
	border-bottom: 7px solid transparent;
	content: '';
}

::-moz-range-track {
	background: #dedede;
	border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
	border: 0;
}

#tickmarks {
	width: calc(100% - (60px));
	display: flex;
	justify-content: space-between;
}

#tick-number {
	width: calc(100% - (60px));
	display: flex;
	justify-content: space-between;
}

.ticks {
	background: #002D72;
	width: 1px;
	height: 10px;
	position: relative;
	top: -19px;
}
  

/*--------- SLIDER END ---------*/



/*--------- HANDHELD ---------*/

@media only screen and (min-width: 250px) and (max-width: 727px) {
	.main-image img {
		width: 100%;
	}
}

/*--------- TABLET ---------*/

@media only screen and (min-width: 728px) and (max-width: 1100px) {}
